
img{
    border: 5px ridge;
}

.buttons{
    justify-content: center;
}

.btn{
    border:black solid 2px;
    border-radius: 5px;
    margin:10px;
    padding:10px;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    
}

.hero-content{
    margin:0;
}

.hero{
    background-image: url("/images/lens.jpg");
    background-size: cover;
    padding: 100px 10px 100px 10px;
 }

h2, p, a{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

h1, h3 {
    font-family: 'Redressed', cursive;
    text-align: center;
    color:white;
}



