@media(min-width:768px){
.my-description{
    font-size: large;
    padding: 20px;
}
}

.buttons{
    justify-content: center;
}

.btn{
    border:black solid 2px;
    border-radius: 5px;
    margin:10px;
    padding:10px;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    
}

.hero-content{
    margin:0;
}

.hero{
    background-image: url("/images/lens.jpg");
    background-size: cover;
    padding: 100px 10px 100px 10px;
 }

 .aboutMe{
     padding:30px;
 }


 .my-description{
     padding-top: 10px;
 }


.my-photo{
    margin: auto;
    max-height: 318px;
    display: flex;
    justify-content: center;
}

p, a{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    text-align: center;
}

h1{
    font-family: 'Redressed', cursive;
    text-align: center;
    color:white;
    text-shadow: 5px 5px 2px #ff0000;
    font-weight: bolder;
}

h2{
    font-family: 'Redressed', cursive;
    text-align: center;
    font-size: 40px;
}



