.space{
    padding:30px
}

@media(max-width:576px){
    .flowers{
        background-image: url(/images/flower\ background.jpg);
        background-size: 500px 300px;
    }
    .cats{
        background-image: url(/images/cat\ background.jpg);
        background-size: 550px 350px;
        padding: 15px;
    }
    .animals{
        background-image: url(/images/birds\ background.jpg);
        background-size: 550px 300px;
        padding: 15px;
    }
}

.text-explanation{
    font-size: small;
}

.button-see-more{
    justify-content: center;
    max-width: fit-content;
    font-size: small;
}

.flowers{
    margin-top: 50px;
    padding:15px;
}


img{
    border: 5px ridge;
}

.buttons{
    justify-content: center;
}

.btn{
    border:black solid 2px;
    border-radius: 5px;
    margin:10px;
    padding:10px;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    
}

.hero-content{
    margin:0;
}

.hero{
    background: #eeeeee;
    padding: 50px 10px 50px 10px;
 }

h2, p, a{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

h1, h3 {
    font-family: 'Redressed', cursive;
    text-align: center;
    color:#0b6623;
}

nav li{
    list-style: none;
    margin:10px;
}

nav ul{
    margin:0px;
}

nav a{
    text-decoration: none;
    color:black;
    font-size:15px;
}

nav a:hover, nav li.active a {
    color:green;
    font-weight: bold;
}

footer{
    background: #eeeeee;
}

footer .social-media-links a{
    color:#0b6623;
    background:white;
    padding:10px 15px;
    border-radius:50%;
    box-shadow: 5px 5px 10px grey;
}

footer .social-media-links a:hover{
    color:white;
    background-color: #0b6623;
}
