@media(max-width:576px){
    .flowers{
        background-image: url(/images/flower\ background.jpg);
        background-size: 500px 300px;
    }
}

.text-explanation{
    font-size: small;
}

.button-see-more{
    justify-content: center;
    max-width: fit-content;
    font-size: small;
}

.flowers{
    margin-top: 50px;
};


img{
    border: 5px ridge;
}

.buttons{
    justify-content: center;
}

.btn{
    border:black solid 2px;
    border-radius: 5px;
    margin:10px;
    padding:10px;
    box-shadow: 5px 5px 10px grey;
    
}

.hero-content{
    margin:0;
}

.hero{
    background: #eeeeee;
    padding: 50px 10px 50px 10px;
 }

h2, p, a{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

h1, h3 {
    font-family: 'Redressed', cursive;
    text-align: center;
    color:#0b6623;
};



